@media screen and (min-width: 1200px) {
  .auth_nav__conteiner {
    display: flex;
    position: absolute;
    top: 20px;
    left: 450px;
  }
  .auth_nav__link {
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
    color: blue;
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: none;
    padding: 7px;
  }
  .auth_nav__link:hover,
  .auth_nav__link:focus {
    background-color: blue;
    color: white;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .auth_nav__conteiner {
    display: flex;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .auth_nav__link {
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
    color: blue;
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: none;
    padding: 5px;
    font-size: 8px;
  }
  .auth_nav__link:hover,
  .auth_nav__link:focus {
    background-color: blue;
    color: white;
    border-radius: 2px;
  }
}
