.del__btn {
  background-color: white;
  color: blue;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 40px;
}
.del__btn:hover,
.del__btn:focus {
  background-color: blue;
  color: white;
  border-radius: 5px;
}
