@media screen and (min-width: 1200px) {
  .filter__label {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .filter__input {
    background-color: rgb(212, 212, 248);
    width: 290px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .filter__label {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .filter__input {
    background-color: rgb(212, 212, 248);
    width: 200px;
    margin-top: 20px;
  }
}
